.App {
  display: flex;
}

.sideBar {
  max-width: 314px;
  min-width: 225px;
  padding: 0 7px;
  height: 100vh;
  overflow: auto;
  background: #fbbd08;
}

.search-input {
  margin: 10px 0;
}

.search-label {
  left: 10px;
}

.client-info {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #b5cc18;
  min-height: 100vh;
}

.selected-client-card.ui.card.client-card {
  background: #c09106;
}

.selected-client-card.ui.card.client-card:hover {
  background: #c09106;
}

.client-avatar {
  margin-right: 10px;
  height: 128px;
  width: 128px;
}

.info-placeholder.ui.placeholder {
  width: 250px;
  background-color: #b5cc18;
  margin-top: 10px;
}

.client-info .ui.placeholder,
.client-info .ui.placeholder .image.header:after,
.client-info .ui.placeholder .line,
.client-info .ui.placeholder .line:after,
.client-info .ui.placeholder > :before {
  background-color: #b5cc18;
}

@media all and (max-width: 480px) {
  .sideBar:hover {
    left: 0;
    overflow: auto;
    background: #fbbd08c9;
  }

  .sideBar {
    position: absolute;
    left: -220px;
    z-index: 2;
    overflow: hidden;
    width: 225px;
    transition: left 0.7s ease-in-out, background-color 0.7s ease-in-out;
  }
}
